{{#each this}}
   <img src="{{flag}}" alt="flag" width="150px" height="100px">
   <h2>{{name}}</h2>
   <ul>
      <li>
         <p>Capital: {{capital}}</p>
      </li>
      <li>
         <p>Population: {{population}}</p>
      </li>
      <li>
         <p>Languages: {{#each languages}}
                  <span>{{name}}</span>
             {{/each}}
         </p>
      </li>
   </ul>
{{/each}}